<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>It Newsies</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="assets/css/index.css">
</head> 
<body>
	<template id="list-component">
		<div>
			<div class="lists" v-for="list in lists">
				<h1>{{list.title}}</h1>
				<p>{{list.subtitle}}</p>
			</div>
		</div>
	</template>

	<div id="lists">
		<list-component :lists="newslists"></list-component>
	</div>

	<script src="../assets/js/component.js"></script>
</body> 
</html>