<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>It Newsies</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="assets/css/index.css">
</head> 
<body>
	<template id="list-component">
		<div class="list-component">
			<a :href="list.href" v-for="list in lists">
				<div class="lists">
					<h2>{{list.title}}</h2>
					<p>{{list.subtitle}}</p>
				</div>
			</a>
		</div>
	</template>

	<template id="loading">
		<div class="loading">
			<div class="loading-bar"></div>
		</div>
	</template>

	<div id="lists">
		<loading></loading>
		<list-component v-bind:lists="newslists"></list-component>
	</div>

	<script src="../assets/js/component.js"></script>
</body> 
</html>